/* Import fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Uniformisation */

:root {
  /* Fonts */
  --open: "Open Sans", sans-serif;
  --raleway: "Raleway", sans-serif;
  /* Colors */
  --darkblue: #011826;
  --lightblue: #2cc1aa;
  --orange: #ff9a16;
  --red: #e7174a;
  --white: #f7fff2;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

h1,
h2 {
  font-family: var(--raleway);
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}

h3 {
  font-family: var(--raleway);
  font-size: 21px;
  font-weight: 700;
  color: var(--white);
}

p {
  font-family: var(--open);
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}

a {
  text-decoration: none;
  font-family: var(--open);
  font-size: 16px;
  color: var(--white);
}

img {
  width: 100%;
}

.active {
  color: var(--red) !important;
}

.blue-button {
  font-weight: 400;
  background: var(--darkblue);
  border: 1px solid var(--white);
  padding: 11px 21px;

  &:hover {
    background: var(--red);
  }
}

.contact-me {
  font-weight: 600;
  background: var(--orange);
  color: var(--white);

  &:hover {
    background: var(--red);
  }
}

.skill {
  background: var(--white);
  padding: 15px 15px 1px 15px;

  p {
    font-size: 18px;
    font-weight: 600;
    color: var(--orange);
    padding-bottom: 12px;
    border: solid 2px var(--red);
  }
}

.project {
  border: 1px solid var(--white);
}

.container-1440 {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}

.container-1140 {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

body {
  background: var(--darkblue);
}

/* Animations */

img {
  animation: 2.5s appear;
}

@keyframes appear {
  0% {
    width: 20%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

header li {
  opacity: 0;
  position: relative;

  &:nth-child(1) {
    animation: 1s slideUp;
    animation-fill-mode: forwards;
  }
  &:nth-child(2) {
    animation: 1s slideUp;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
  }
  &:nth-child(3) {
    animation: 1s slideUp;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
  }
  &:nth-child(4) {
    animation: 1s slideUp;
    animation-fill-mode: forwards;
    animation-delay: 0.45s;
  }
  &:nth-child(5) {
    animation: 1s slideUp;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
  }
  &:nth-child(6) {
    animation: 1s slideUp;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
  }
}

@keyframes slideUp {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

#formation {
  animation: 2s up;
}

@keyframes up {
  0% {
    margin-top: 500px;
  }
  100% {
    margin-top: 0;
  }
}

/* Modal */

.modal {
  position: absolute;
  z-index: 2;
  top: calc(50% - 291.5px);
  left: calc(50% - 165px);

  .modal-overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
  }

  .modal-content {
    width: 300px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;

    #close-modal {
      position: relative;
      left: 261px;
      color: var(--white);
      background: var(--orange);
      padding: 5px 15px;

      &:hover {
        background: var(--red);
      }
    }

    #contact {
      background: var(--white);
      text-align: center;
      padding: 15px;
      margin-top: 5px;

      h2 {
        color: var(--darkblue);
        margin-bottom: 20px;
      }

      form {
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 20px;

        label {
          font-family: var(--raleway);
          color: var(--darkblue);
          font-weight: 800;
          background: var(--orange);
          padding: 10px 20px;
        }

        input,
        textarea {
          font-family: var(--open);
          padding: 5px;
          border: 1px solid var(--darkblue);
          border-radius: 3px;

          &::placeholder {
            font-family: var(--open);
          }
        }

        textarea {
          min-height: 80px;
          resize: none;
        }

        a {
          background: var(--darkblue);
          text-align: center;
          padding: 10px;

          &:hover {
            background: var(--red);
          }
        }
      }
    }
  }
}

.modal:not(:target) {
  display: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px !important;

  #logo {
    img {
      max-width: 180px;
      animation: none;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 22px;
      text-align: center;
      padding: 0;

      li {
        a {
          color: var(--orange);

          &:hover {
            color: var(--red);
          }
        }

        .contact-me {
          padding: 5px 10px;
        }
      }
    }
  }

  #burgermenu {
    display: none;
  }
}

/* Footer */

footer {
  background: var(--lightblue);
  text-align: center;
  padding: 15px;
}

/* Compétences (réutilisable) */

.competences {
  margin: 100px auto;

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  div {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    details {
      flex: 1 0 44%;
      background: var(--white);
      padding: 15px 15px 2px 15px;
      height: fit-content;

      summary {
        width: fit-content;
        font-size: 18px;
        font-weight: 600;
        color: var(--orange);
        padding-bottom: 11px;
        border-bottom: solid 2px var(--red);

        &:hover{
          cursor: pointer;
        }
      }

      ul {
        margin-top: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 13px;
        list-style: circle;

        li {
          font-family: var(--open);
        }
      }
    }
  }
}

/* Mes projets (réutilisable) */

.projets {
  margin-bottom: 30px;

  .head-projets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  .voir-plus-de-projets {
    display: block;
    width: fit-content;
    margin: auto;
  }
}

.mes-projets {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  article {
    border: solid 1px var(--white);
    padding: 34px 16px 16px 16px;
    position: relative;
    margin-bottom: 70px;
    flex: 1 0 27%;

    .tag {
      position: absolute;
      background: var(--darkblue);
      padding: 5px;
      top: 49px;
      left: 31px;
    }

    h3 {
      margin: 15px 0;
    }

    a {
      position: absolute;
      bottom: -60px;
    }
  }
}

/* Home */

#home {
  /* Main */

  main {
    /* Section 1 : Qui suis-je ? */

    #about-me {
      margin: 100px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      article {
        max-width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .contact-me {
          padding: 10px 20px 20px 20px;
          width: fit-content;
        }
      }

      img {
        max-width: 45%;
      }
    }

    /* Section 2 : Mes formations */

    #formation {
      text-align: center;

      h2 {
        margin-bottom: 50px;
      }

      #mes-formations {
        display: flex;
        flex-direction: column;
        gap: 150px;

        div {
          text-align: start;
          display: flex;
          align-items: center;
          position: relative;

          &:nth-child(2) {
            flex-direction: row-reverse;

            article {
              left: 0;
            }
          }

          img {
            max-width: 798px;
          }

          article {
            background: var(--orange);
            padding: 40px;
            max-width: 360px;
            width: 100%;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .blue-button {
              position: absolute;
              bottom: -20px;
              left: calc(50% - 74px);
            }
          }
        }
      }
    }
  }
}

/* Formation à la carte */

#page-a-la-carte {
  /* Section 1 : Presentation à la carte */

  #presentation-a-la-carte {
    padding: 150px 0;
    background: var(--red);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* Section 2 : Description à la carte */

  #description-a-la-carte {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    article {
      max-width: 45%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    img {
      max-width: 45%;
    }
  }
}

/* Mes projets */

#page-mes-projets {
  /* Section 1 : Presentation mes projets */

  #presentation-mes-projets {
    padding: 150px 0;
    background: var(--red);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* Section 2 : Tous mes projets */

  #tous-mes-projets {
    margin: 50px auto;

    .pages {
      text-align: center;
      display: flex;
      gap: 10px;
      width: fit-content;
      margin: auto;

      a {
        color: var(--orange);

        &:hover {
          color: var(--red);
        }
      }
    }
  }
}

/* Responsive tablette */

@media screen and (max-width: 1024px) {
  header {
    nav {
      display: none;
    }
    #burgermenu {
      display: block;
      color: var(--white);
    }
  }

  /* Home */

  #home {
    /* Section 1 : Qui suis-je ? */
    #about-me {
      flex-direction: column;
      gap: 20px;

      article {
        max-width: none !important;
      }

      img {
        max-width: 60%;
      }
    }

    /* Section 2 : Mes formations */
    #formation {
      article {
        max-width: 25% !important;
      }
    }
  }

  /* Formation à la carte */

  #page-a-la-carte {
    /* Section 2 : Description à la carte */
    #description-a-la-carte {
      flex-direction: column;
      gap: 20px;

      article {
        max-width: none !important;
      }

      img {
        max-width: 90%;
      }
    }
  }

  /* Mes projets */
  .mes-projets {
    article {
      flex: 1 0 28% !important;
    }
  }
}

/* Responsive mobile */

@media screen and (max-width: 767px) {
  /* Projets (réutilisable) */

  .mes-projets article {
    flex: 1 0 50% !important;
  }
  .head-projets {
    flex-direction: column;
    gap: 10px;
  }

  /* Home */

  #home {
    /* Section 1 : Qui suis-je ? */
    #about-me {
      img {
        max-width: 90% !important;
      }
    }

    /* Section 2 : Mes formations */
    #formation {
      div {
        flex-direction: column !important;

        img {
          max-width: 70% !important;
        }

        article {
          position: relative !important;
          max-width: fit-content !important;
        }
      }
    }
  }

  /* Formation à la carte */

  #page-a-la-carte {
    /* Section 2 : Description à la carte */
    #description-a-la-carte {
      img {
        max-width: 90% !important;
      }
    }
  }
}
